@import 'styles/_mixins';
$static-folder-url: '../../static';

.Button {
  @include defaultButtonShadow;

  display: flex;
  cursor: url('#{$static-folder-url}/pointer.cur'), pointer;
  align-items: center;
  justify-content: center;
  background-image: url('#{$static-folder-url}/background-pattern.png');

  &:focus {
    outline: 1px dotted black;
    outline-offset: -4px;
  }

  &.Able:active,
  &.Selected {
    @include activeButtonShadow;

    background-color: white;
    background-image:
      linear-gradient(45deg, #bdbdbd 25%, transparent 25%),
      linear-gradient(-45deg, #bdbdbd 25%, transparent 25%),
      linear-gradient(45deg, transparent 75%, #bdbdbd 75%),
      linear-gradient(-45deg, transparent 75%, #bdbdbd 75%);
    background-size: 2px 2px;
  }
}
