$gap: 6px;

.Menu {
  display: flex;
  font-size: 13px;
  padding-left: $gap;
  padding-right: $gap;
  align-items: center;
  justify-items: center;

  &.Activated:hover {
    color: white;

    background-color: rgb(2,0,125);
  }

  &.Disabled {
    color: grey;
  }
}
