%scrollable_box_container {
  height: 0;
  font-size: 0;
  display: flex;
  flex-direction: column;

  box-shadow:
    inset -1px -1px 0px 0px rgba(255,255,255,1),
    inset 1px 1px 0px 0px rgba(127,127,127,1),
    inset -2px -2px 0px 0px rgba(224,224,224,1),
    inset 2px 2px 0px 0px rgba(0,0,0,1);
}

%scrollable_box_vertical {
  flex: 1;
  overflow-y: scroll
}
