@import 'styles/_mixins';
@import 'styles/_placeholders';
$static-folder-url: '../../static';

.Userpage-container {
  display: flex;
  flex: 1;
  flex-direction: column;
  background-image: inherit;

  &__Userinfo {
    @include dividerTopBottomShadow;

    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 2px;

    &__Profile {
      display: flex;
      flex-direction: row;
      padding: 6px;

      &__Picture {
        width: 60px;
        height: 60px;
        border-radius: 50%;
        background-color: black;
        display: flex;

        .Pixel-image {
          width: 60px;
          height: 60px;
          border-radius: 50%;
        }
      }

      &__Follow {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        margin-left: 14px;

        font-size: 13px;

        &__Numbers {
          display: flex;
          flex-basis: 100%;
          padding-right: 27px;

          &.Number {
            display: flex;
            flex-basis: 100%;
            flex-direction: column;
            justify-items: center;
            align-items: center;
            padding: 0;

            * + * {
              margin-top: 2px;
            }
          }
        }

        &__Buttons {
          display: flex;
          padding-top: 4px;
          padding-bottom: 2px;
          flex-basis: 100%;
          flex-direction: row;

          .Button {
            width: 100%;
            height: 24px;
            font-size: 13px;

            &__Icon {
              width: 24px;
              height: 24px;
              background-position: 48% 50%;
              background-size: 7px 7px;

              &.Able:active {
                background-position: 55% 60%;
              }
            }

            &.More {
              width: 24px;
              height: 24px;
              float: right;
            }
          }

          .Button + .Button {
            margin-left: 3px;
          }
        }
      }
    }

    &__Description {
      display: flex;
      flex-direction: column;
      padding: 6px;
      margin-top: 1px;
      margin-bottom: 1px;

      overflow-wrap: break-word;
      word-wrap: break-word;
      word-break: break-all;
      font-size: 13px;
      white-space: pre-wrap;
      line-height: 15px;

      * + * {
        margin-top: 4px;
      }

      &__Name {
        font: {
          size: 14px;
          weight: bolder;
        }
      }

      &__Bio {
      }

      &__Website {
      }
    }
  }

  &__Contents {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;

    &__Categories {
      display: flex;
      flex-direction: row;
      margin: 2px;

      .Button {
        flex-basis: 100%;
        height: 24px;

        &__Icon {
          width: 18px;
          height: 18px;
          background-position: center;
          background-size: 12px 12px;
        }
      }

      .Button + .Button {
        margin-left: 1px;
      }
    }

    &__Box {
      @extend %scrollable_box_container;
      @include scrollableBoxShadow;

      width: inherit;
      flex: 1;
      margin-top: 2px;
      padding: 2px;

      &__Scrollable {
        @extend %scrollable_box_vertical;

        align-content: flex-start;

        &__Bottom {
          width: 0;
          height: 0;
        }

        .Pixel-image + .Pixel-image {
          margin-left: 1px;
          margin-top: 1px;
        }

        .Pixel-image {
          width: 94.5px;
          height: 94.5px;
          object-fit: cover;
          cursor: url('#{$static-folder-url}/pointer.cur'), pointer;

          @for $i from 1 through 3 {
            &:nth-child(#{$i}) {
              margin-top: 0px;
            }
          }

          &:nth-child(3n+1) {
            margin-left: 0px;
          }
        }
      }
    }
  }
}
