$static-folder-url: '../../static';
$title-bar-height: 22px;

.Title-bar {
  display: flex;
  height: $title-bar-height;
  background: rgb(2,0,125);
  background: linear-gradient(90deg, rgba(2,0,125,1) 0%, rgba(0,0,127,1) 58%, rgba(0,0,131,1) 100%);
  -webkit-app-region: drag;
  -webkit-user-select: none;

  &__Icon {
    width: $title-bar-height - 4px;
    height: $title-bar-height;
    margin-left: 4px;
    margin-right: 2px;
    background: {
      size: contain;
      repeat: no-repeat;
      position: center;
      image: url('#{$static-folder-url}/instagram-icon-with-shadow.png');
    }
  }

  &__Title {
    display: flex;
    width: 100%;
    justify-content: space-between;

    &__Text {
      display: flex;
      align-items: center;
      justify-content: center;
      color: white;
      font: {
        size: 13px;
        weight: bolder;
      }
    }

    &__Buttons {
      display: flex;
      padding: 3px 2px 1px 2px;

      > * + * {
        margin-left: 3px;
      }
    }
  }
}
