@import 'styles/_mixins';
@import 'styles/_placeholders';

.Explore-page-container {
  flex: 1;
  display: flex;
  flex-direction: column;

  &__Contents {
    @extend %scrollable_box_container;
    @include scrollableBoxShadow;

    width: inherit;
    flex: 1;
    margin-top: 2px;
    padding: 2px;

    &__Scrollable {
      @extend %scrollable_box_vertical;
    }
  }
}
