@import 'styles/_placeholders';
@import 'styles/_mixins';
$static-folder-url: 'static';

@include font('W95FA', 'W95FARegular');

body {
  @include defaultBoxShadow;

  width: 308px;
  height: 556px;
  margin: 0;
  padding: 4px;
	font-family: W95FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;

  cursor: url('#{$static-folder-url}/cursor.cur'), auto;

  background-image: url('#{$static-folder-url}/background-pattern.png');
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

::-webkit-scrollbar {
  width: 18px;
}

::-webkit-scrollbar-track {
  background-color: white;
  background-image:
    linear-gradient(45deg, #bdbdbd 25%, transparent 25%),
    linear-gradient(-45deg, #bdbdbd 25%, transparent 25%),
    linear-gradient(45deg, transparent 75%, #bdbdbd 75%),
    linear-gradient(-45deg, transparent 75%, #bdbdbd 75%);
  background-size: 2px 2px;
}

::-webkit-scrollbar-thumb {
  @include defaultBoxShadow;

  background-image: url('#{$static-folder-url}/background-pattern.png');
}

::-webkit-scrollbar-button:start:decrement {
  @include defaultBoxShadow;

  display: block;
  height: 18px;
  background-image: url('#{$static-folder-url}/up-arrow-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px 7px;
}

::-webkit-scrollbar-button:end:increment {
  @include defaultBoxShadow;

  display: block;
  height: 18px;
  background-image: url('#{$static-folder-url}/down-arrow-icon.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 7px 7px;
}

::-webkit-scrollbar-button:start:disabled {
  background-image: url('#{$static-folder-url}/up-arrow-icon-inactive.png');
}

::-webkit-scrollbar-button:end:disabled {
  background-image: url('#{$static-folder-url}/down-arrow-icon-inactive.png');
}
